<section class="canva">
  <div class="box-glass container-form">
    <img
      src="{{group.groupImg}}"
      alt="group_cover_image"
      style="width: 100%;"
    />
    <h1><a href="/group/group/{{group._id}}"> {{group.groupName}}</a></h1>
    <ul>Friends in the group:
      {{#each group.users}}
        <li>{{this.username}}</li>
      {{/each}}
    </ul>
  </div>

  <div class="box-glass container-form">
    <h2>Add Friend</h2>
    <form action="/group/add/{{group._id}}" method="post">
      <div class="input-box-white">
        <label for="email">
          <input
            required
            type="email"
            name="email"
            id="email"
            placeholder="Email"
          />
        </label>
      </div>
      <div class="input-box-white">
        <label for="users">
          <input
            required
            type="text"
            name="users"
            id="users"
            placeholder="Name"
          />
        </label>
      </div>
      <div>
        <input class="btn-green" type="submit" value="Add friend" />
      </div>
    </form>
  </div>
</section>