<div class="canva">
  <div class="box-glass container-form">

    <h2>Edit {{group.groupName}}</h2>
    <form
      action="/group/edit/{{group._id}}"
      method="post"
      enctype="multipart/form-data"
    >
      <fieldset class="input-box-white">
        <input
          required
          type="text"
          id="groupName"
          name="groupName"
          maxlength="10"
          value="{{group.groupName}}"
        />
      </fieldset>

      <fieldset class="input-box-white">

        <textarea
          name="description"
          id="description"
          class="interests"
          cols="50"
          rows="4"
        >{{group.description}}</textarea>
      </fieldset>

      <fieldset class="input-box-white">
        <input
          required
          type="number"
          id="price"
          name="price"
          min="1"
          value="{{group.price}}"
        />
      </fieldset>

      <fieldset class="input-box-white">
        <input type="file" id="groupImg" name="groupImg" />
      </fieldset>

      <button class="btn-green" type="submit">Save changes</button>
    </form>

    <a href="/group/group/delete/{{group._id}}"><button
        class="btn-green"
        style="background-color:indianred"
      >
        Delete group</button></a>
  </div>

</div>