<div class="canva">
  <div class="box-glass container-form">
    <form
      action="/group/edit/{{group._id}}"
      method="post"
      enctype="multipart/form-data"
    >
      <fieldset class="input-box-white">
        <input
          required
          type="text"
          id="groupName"
          name="groupName"
          value="{{group.groupName}}"
        />
      </fieldset>

      <fieldset class="input-box-white">

        <textarea
          name="description"
          id="description"
          class="interests"
          cols="50"
          rows="4"
        >{{group.description}}</textarea>
      </fieldset>

      <fieldset class="input-box-white">
        <input
          required
          type="number"
          id="price"
          name="price"
          min="1"
          value="{{group.price}}"
        />
      </fieldset>

      <fieldset class="input-box-white">
        <input type="file" id="groupImg" name="groupImg" />
      </fieldset>

      <button type="submit">Save changes</button>
    </form>

    <button>
      <a href="/group/group/delete/{{group._id}}"> Delete group</a></button>
  </div>

</div>