<h1>Edit group page</h1>

<form
  action="/group/edit/{{group._id}}"
  method="post"
  enctype="multipart/form-data"
>
  <fieldset>
    <label for="groupName">
      Group name
    </label>
    <input
      required
      type="text"
      id="groupName"
      name="groupName"
      value="{{group.groupName}}"
    />
  </fieldset>

  <fieldset>
    <label for="description">
      Description
    </label>
    <textarea
      name="description"
      id="description"
      cols="50"
      rows="4"
    >{{group.description}}</textarea>
  </fieldset>

  {{#each group.users}}
    <fieldset>
      <label for="users">
        Insert your friends name here
      </label>
      <input
        {{! required }}
        type="text"
        name="users"
        id="users"
        value="{{this.username}}"
      />
      <label for="email">Email</label>
      <input
        {{! required }}
        type="email"
        name="email"
        id="email"
        value="{{this.email}}"
      />
    </fieldset>
  {{/each}}

  <fieldset>
    <label for="users">
      Insert your friends name here
    </label>
    <input {{! required }} type="text" name="users" id="users" />
    <label for="email">Email</label>
    <input {{! required  }} type="email" name="email" id="email" />
  </fieldset>

  <fieldset>
    <label for="price">
      Gift price limit
    </label>
    <input
      required
      type="number"
      id="price"
      name="price"
      min="1"
      value="{{group.price}}"
    />
  </fieldset>

  <fieldset>
    <label for="groupImg">
      Update image
    </label>
    <input type="file" id="groupImg" name="groupImg" />
  </fieldset>

  <button type="submit">Save changes</button>
</form>

<button> <a href="/group/group/delete/{{group._id}}"> Delete group</a></button>