<div class="canva">
  <div class="box-glass container-flex-center">
    <img
      src="{{group.groupImg}}"
      alt="group_cover_image"
      style="width: 100%;"
    />
    <div class="nameProfile">
      <h2 class="">{{group.groupName}}</h2>
      {{#if admin}}
        <a href="/group/group/edit/{{group._id}}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            fill="currentColor"
            class="bi bi-pencil-square edit-icon-large"
            viewBox="-10 -15 40 40"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            ></path>
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            ></path>
          </svg>
        </a>
      {{/if}}
    </div>

    <h5>{{group.description}}</h5>
    <h3>Gift price: {{group.price}}€</h3>
  </div>

  {{#if admin}}
    {{#if group.shuffled}}
      <button class="btn-green">
        <a href="/group/add/{{group._id}}">Add awesome friends</a></button>
    {{/if}}
  {{/if}}

  <div class="text-center">
    <ul>
      Participants:
      {{#each group.users}}
        <li><a href="/user/view/profile/{{this._id}}">{{this.username}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div class="text-center">
    {{#if admin}}
      {{#if group.shuffled}}
        <a href="/group/shuffle/{{group._id}}"><button
            class="btn-green"
            type="submit"
            style="background-color:gold"
          >
            Shuffle
          </button></a>
      {{else}}
        <p> <strong>{{group.groupName}} was shuffled!</strong></p>

        <form action="/group/sendemail/{{group._id}}" method="post">
          <button
            type="submit"
            class="btn-green"
            type="submit"
            style="background-color:gold"
          >Send emails</button>
        </form>
      {{/if}}
    {{/if}}
  </div>

  <div id="commentsgroup">

    <div class="my-container-comments-principal">
      {{#each group.comments}}
        <div class="my-container-comments">
          <p>"{{this.content}}"</p>
          <div class="d-flex justify-content-between">
            <div class="text-start">
              <p><i>{{this.user}}</i></p>
              <p><i>{{this.date}}</i></p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="d-flex justify-content-center pt-3 pb-2">
      <form action="/group/comment/{{group._id}}" method="post">
        <fieldset>
          <label for="content">
            <textarea
              name="content"
              id="content"
              cols="50"
              rows="2"
              placeholder="Comment here..."
              class="form-control addtxt"
            ></textarea>
          </label>
        </fieldset>

        <button type="submit" class="btn-green">Comment</button>
      </form>
    </div>

  </div>
</div>