<!-- component -->
<div class="relative min-h-screen w-full">
  <figure class="absolute z-0 top-0 left-0 w-full h-full">
    <img class="w-full h-52 object-cover" src="{{group.groupImg}}" alt="">
  </figure>

  <div class="relative z-20 w-full flex flex-col items-center justify-center px-6 mt-36 mx-auto">
    <div class="w-full bg-white rounded-lg shadow sm:max-w-3xl px-6 py-8">
      {{!-- Group info --}}
      <div class="w-full">
        <div class="w-full">
        </div>
        {{#if admin}}
        <div class=" badge badge-accent text-xs"><a href="/group/group/edit/{{group._id}}">Edit Group</a></div>
        {{/if}}
        <div class="flex flex-col gap-4">
          <h2 class="text-center font-bold text-2xl">{{group.groupName}} - Max {{group.price}}€</h2>
          <p class="text-center font-semibold text-md">{{group.description}}</p>
        </div>
        {{!-- shuffle button --}}
        <div class="w-full mt-4">
          <div class="w-full flex justify-center">
            {{#if admin}}
            {{#if group.shuffled}}
            <a href="/group/shuffle/{{group._id}}" class="btn btn-primary btn-wide btn-sm"><button type="submit">
                Shuffle
              </button></a>
            {{else}}
            <div style="margin-top: 3%;">
              <p><strong>{{group.groupName}} was shuffled!</strong></p>
              <hr style="width: 100%; margin-top: 4%;">
              <h4><strong>Click on the button below to discover who is your webstie</strong></h4>
            </div>

            <form action="/group/sendemail/{{group._id}}" method="post">
              <button type="submit" class="btn-green" type="submit" style="background-color:gold">Send emails</button>
            </form>
            {{/if}}
            {{/if}}
          </div>
        </div>

      </div>
      <div class="divider"></div>

      {{!-- Participants --}}
      <div>
        <h3>Participants</h3>
        <div class="flex gap-4 items-center flex-wrap">
          {{#if admin}}
          {{#if group.shuffled}}
          <a href="/group/add/{{group._id}}" class="badge badge-neutral">Add Friend</a>
          {{/if}}
          {{/if}}
          {{#each group.users}}
          <div class="flex items-center gap-4">
            <div class="avatar">
              <div class="w-8 rounded-full">
                <img src="{{this.profileImg}}" />
              </div>
            </div>
            <p>
              <a href="/user/view/profile/{{this._id}}">{{this.username}}</a>
            </p>
          </div>
          {{/each}}
        </div>
      </div>

      <div class="bg-white  py-8 lg:py-16 antialiased">
        <div class="max-w-2xl mx-auto px-4">
          <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Chat</h2>
          </div>
          {{#if userIsConnected}}
          {{#each group.comments}}
          <article class="p-6 mb-3 text-base bg-white border-t border-gray-200">
            <div class="flex justify-between items-center mb-2">
              <div class="flex items-center">
                <p class="inline-flex items-center mr-3 text-sm text-gray-900 font-semibold">{{this.user}}</p>
                <p class="text-sm text-gray-600"><time>{{this.date}}</time></p>
              </div>
            </div>
            <p class="text-gray-500">{{this.content}}</p>
          </article>
          {{/each}}
          {{/if}}
          <form action="/group/comment/{{group._id}}" method="post" class="mb-6">
            <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200">
              <label for="content" class="sr-only">Your comment</label>
              <textarea id="content" name="content" rows="6"
                class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none"
                placeholder="Write a comment..." required></textarea>
            </div>
            <button type="submit"
              class="btn btn-neutral">
              Post comment
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
</div>