<div id="sectiongroup">
  <div class="my-container">
    <img
      src="{{group.groupImg}}"
      alt="group_cover_image"
      style="width: 100%;"
    />
    <h2>{{group.groupName}}</h2>

    {{#if admin}}
      <button><a href="/group/group/edit/{{group._id}}">Edit Group </a></button>
    {{/if}}

    <p>{{group.description}}</p>
    <p>Gift price: {{group.price}}€</p>
  </div>

  {{#if admin}}
    <button class="btn-green">
      <a href="/group/add/{{group._id}}">Add awesome friends</a></button>
  {{/if}}

  <h4>Participants:</h4>
  <ul class="text-center">
    {{#each group.users}}
      <img
        src="{{this.profileImg}}"
        alt="profile-picture"
        style="width: 30px; border-radius: 50%"
      />
      <li>{{this.username}}</li>
    {{/each}}
  </ul>

  {{#if admin}}
    <button> <a href="/group/shuffle/{{group._id}}">SHUFFLE</a></button>
  {{/if}}

  <div>
    {{#each group.comments}}
      <div>
        <h3 class="text-center">"{{this.content}}"</h3>
        <p>{{this.date}}</p>
        <p><i>{{this.user}}</i></p>
      </div>
    {{/each}}
  </div>

  <form action="/group/comment/{{group._id}}" method="post">
    <fieldset>
      <label for="content">
        <textarea
          name="content"
          id="content"
          cols="50"
          rows="2"
          placeholder="Comment here..."
        ></textarea>
      </label>
    </fieldset>
    <button type="submit">Comment</button>
  </form>

</div>