<h1>grouppage</h1>
<h1>grouppage</h1>
<h1>grouppage</h1>
<h1>grouppage</h1>

<a href="/">Home</a>
<a href="/user/profile">profile</a>

<img src="{{group.groupImg}}" alt="group_cover_image" style="width: 500px;" />
<h1>{{group.groupName}}</h1>
<p>{{group.description}}</p>
<p>Maximum gift price:{{group.price}}</p>

{{#if admin}}
  <button><a href="/group/group/edit/{{group._id}}">Edit Group </a></button>
  <button> <a href="/group/add/{{group._id}}">Add awesome friends</a></button>

  <button> <a href="/group/shuffle/{{group._id}}">SHUFFLE</a></button>
{{/if}}

{{#each group.users}}
  <h4>{{username}}</h4>
  <img src="{{profileImg}}" alt="" style="width: 30px; border-radius: 50%" />
{{/each}}

<p>{{group.comments}}</p>