<div id="sectiongroup">
  <div class="my-container">
    <img
      src="{{group.groupImg}}"
      alt="group_cover_image"
      style="width: 100%;"
    />
    <h2>{{group.groupName}}</h2>
    {{#if admin}}
      <button><a href="/group/group/edit/{{group._id}}">Edit Group </a></button>
    {{/if}}
    <p>{{group.description}}</p>
    <p>Maximum gift price:{{group.price}}</p>
  </div>

<h4>Participants</h4>
  <ul>
    {{#each group.users}}
    <li>{{username}}</li>
  </ul>
  {{/each}}

  {{#if admin}}
    <button class="btn-green">
      <a href="/group/add/{{group._id}}">Add awesome friends</a></button>
      <button> <a href="/group/shuffle/{{group._id}}">SHUFFLE</a></button>
  {{/if}}

  <p>{{group.comments}}</p>
</div>
