<section class="canva">
  <div class="box-glass container-form">
    <h2>Are you sure you want to shuffle {{groupShuffle.groupName}}?</h2>

    <a href="/group/group/{{groupShuffle._id}}"><button class="btn-green">
        No</button></a>

    <form action="/group/shuffle/{{groupShuffle._id}}" method="POST">
      <button
        type="submit"
        class="btn-green"
        type="submit"
        style="background-color:gold"
      >Yes</button>
    </form>
  </div>

  <div class="box-glass container-form">

    <h3>Friends in {{groupShuffle.groupName}}</h3>
    <ul>
      {{#each groupShuffle.users}}
        <li>{{this.username}}</li>
      {{/each}}
    </ul>
  </div>
</section>