<div class="canva">
  <div class="box-glass container-form">
    <h2>Edit Profile</h2>
    <form
      action="/user/profile/edit/{{user._id}}"
      method="POST"
      enctype="multipart/form-data"
    >
      <fieldset class="input-box-white">
        <input
          type="text"
          name="username"
          id="username"
          value="{{user.username}}"
        />

<<<<<<< HEAD
      </fieldset>
      <fieldset class="input-box-white">
        <textarea
          name="interests"
          id="interests"
          cols="30"
          rows="5"
        >{{user.interests}}</textarea>
      </fieldset>
      <fieldset class="input-box-white">
        <input type="file" id="profileImg" name="profileImg" />
      </fieldset>
      {{#if errorMessage}}
        {{errorMessage}}
      {{/if}}
      <button class="btn-green-small" type="submit">Save changes</button>
    </form>
  </div>
=======
<button> <a href="/user/profile/{{user._id}}">Go back</a></button>

<form
  action="/user/profile/edit/{{user._id}}"
  method="POST"
  enctype="multipart/form-data"
>
>>>>>>> 30becd96b0048b985be0277b6c3db708389df5fa

</div>