<h1>profilepage</h1>
<h1>profilepage</h1>
<h1>profilepage</h1>
<h1>profilepage</h1>

<button><a href="/auth/logout">Logout</a></button>

<img
  src="{{user.profileImg}}"
  alt="Profile Pic"
  style="width: 80px; border-radius: 50%"
/>

<h1>hello {{user.username}}</h1>

<h4>Interests:</h4>
<p>{{user.interests}}</p>

<button> <a href="/group/creategroup">Create new group</a></button>
<button> <a href="/user/profile/edit/{{user._id}}">Edit Profile</a></button>

{{#if usersInGroup}}
  {{#each usersInGroup}}

    <div class="card text-center" style="width: 18rem;">
      <img src="{{this.groupImg}}" class="card-img-top" alt="group_image" />
      <div class="card-body">
        <h2 class="card-text">
          <a href="/group/group/{{_id}}"> {{this.groupName}} </a></h2>
      </div>
    </div>
  {{/each}}
{{/if}}