<div class="relative w-full max-w-7xl flex flex-col items-center lg:flex-row gap-8">
  {{!-- User Card --}}
  <div class=" w-full lg:w-5/12 flex flex-col items-center justify-center px-6 py-8">
    <div class="bg-white rounded-lg shadow">
      <div class="flex flex-col max-w-md p-6 ">
        <figure class="relative">
          <img src="{{user.profileImg}}" alt="profile-img"
            class="flex-shrink-0 object-cover h-64 rounded-sm sm:h-96  aspect-square">

          <div class="absolute bottom-0 right-0 mr-2 mb-2 badge badge-accent text-xs"><a
              href="/user/profile/edit/{{user._id}}">Edit Profile</a></div>
        </figure>

        <div>
          <h2 class="text-xl font-semibold">{{user.username}}</h2>
          <p>{{user.interests}}</p>
        </div>
        <button
          class=" mt-4 bg-primary hover:bg-accent focus:ring-4 focus:outline-none focus:ring-primary font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          <a class="btn-link-white" href="/group/creategroup">Create group</a></button>
      </div>

    </div>
  </div>
  {{!-- Groups card --}}
  <div class="w-full lg:w-7/12 lg:max-h-[500px] overflow-y-scroll">
    <div class="flex flex-col items-center justify-center gap-8">
      {{#if usersInGroup}}
      {{#each usersInGroup}}
      <div class="card lg:card-side bg-base-100 shadow w-[90%]">
        <figure><img class="object-cover w-full h-24 lg:h-full lg:w-48" src="{{this.groupImg}}" alt="Album" /></figure>
        <div class="card-body">
          <h2 class="card-title">{{this.groupName}}</h2>
          <p>{{this.description}}</p>
          <div class="card-actions ">
            <button class="btn btn-outline btn-accent btn-sm ">
            <a href="/group/group/{{_id}}">See Group</a>
            </button>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}

      <p class="empty container-groups-wrap">You aren't in any group, yet.
      </p>

      {{/if}}
      {{!-- <div>
        {{#if usersInGroup}}
        {{#each usersInGroup}}
        <div class="box-glass-group" style="width: 10rem;">
          <img src="{{this.groupImg}}" class="card-img-top" alt="group_image"
            style="width: 100%; border-radius: 10px;" />
          <div class="card-body">
            <h3 class="text-center">
              <a href="/group/group/{{_id}}"> {{this.groupName}} </a>
            </h3>
          </div>
        </div>
        {{/each}}
        {{else}}

        <p class="empty container-groups-wrap">You aren't in any group, yet.
        </p>

        {{/if}}
      </div> --}}
      <div>

      </div>



    </div>
  </div>